---
http_interactions:
- request:
    method: get
    uri: http://account-api.lvh.me:3001/sites/9999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer dfbf65d331869796024da2e4bc70802e19712d8d5a3f619b38
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"NOT_FOUND","type":"api_error","attributes":{"details":{}}}]}'
  recorded_at: Fri, 15 Jul 2016 10:46:53 GMT
recorded_with: VCR 3.0.3
