---
http_interactions:
- request:
    method: post
    uri: http://account-api.lvh.me:3001/sites
    body:
      encoding: UTF-8
      string: '{"data":{"type":"site","attributes":{"name":"Test site"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer dfbf65d331869796024da2e4bc70802e19712d8d5a3f619b38
  response:
    status:
      code: 201
      message: 'Created '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"087c5b19d8295063f7be3035fc8abd27"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"207","type":"site","attributes":{"name":"Test site","theme_hue":224,"domain":null,"internal_domain":"throbbing-shape-2557.admin.datocms.com","last_data_change_at":null,"notes":null,"readwrite_token":"9185693d14290f29dda9d4f07d6f1a345880a6a2984830a6da","readonly_token":"cec158c88a8b506c43e44804e2c680e93d3411ed017b7eeeda","webhook_token":"af87401504b889010461"}}}'
  recorded_at: Fri, 15 Jul 2016 10:47:01 GMT
- request:
    method: get
    uri: http://site-api.lvh.me:3001/site
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 9185693d14290f29dda9d4f07d6f1a345880a6a2984830a6da
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4bbfa29ff64bc204763657fa52ea3ddc"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"207","type":"site","attributes":{"name":"Test site","locales":["en"],"theme_hue":224,"domain":null,"internal_domain":"throbbing-shape-2557.admin.datocms.com","global_seo":null,"favicon":null,"no_index":false,"last_data_change_at":null,"last_deploy_at":null,"deployable":false,"deploy_status":"unstarted","readonly_token":"cec158c88a8b506c43e44804e2c680e93d3411ed017b7eeeda","readwrite_token":"9185693d14290f29dda9d4f07d6f1a345880a6a2984830a6da","webhook_url":"http://webhooks.lvh.me/af87401504b889010461/deploy-results","deploy_adapter":null,"deploy_settings":null,"timezone":"Europe/Rome"},"relationships":{"account":{"data":{"id":"14","type":"account"}},"menu_items":{"data":[]},"item_types":{"data":[]}}}}'
  recorded_at: Fri, 15 Jul 2016 10:47:01 GMT
[...]
- request:
    method: delete
    uri: http://account-api.lvh.me:3001/sites/207
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer dfbf65d331869796024da2e4bc70802e19712d8d5a3f619b38
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3c6918c9c6e6b6e8e83702fce1803a54"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"207","type":"site","attributes":{"name":"My Blog","theme_hue":224,"domain":null,"internal_domain":"throbbing-shape-2557.admin.datocms.com","last_data_change_at":"2016-07-15T10:47:01.121Z","notes":null,"readwrite_token":"9185693d14290f29dda9d4f07d6f1a345880a6a2984830a6da","readonly_token":"cec158c88a8b506c43e44804e2c680e93d3411ed017b7eeeda","webhook_token":"af87401504b889010461"}}}'
  recorded_at: Fri, 15 Jul 2016 10:47:01 GMT
recorded_with: VCR 3.0.3
