---
http_interactions:
- request:
    method: post
    uri: http://account-api.lvh.me:3001/sites
    body:
      encoding: UTF-8
      string: '{"data":{"type":"site","attributes":{"name":"Test site"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer dfbf65d331869796024da2e4bc70802e19712d8d5a3f619b38
  response:
    status:
      code: 201
      message: 'Created '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"210a7981041ceca77a0b891b2f39cb9b"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"205","type":"site","attributes":{"name":"Test site","theme_hue":224,"domain":null,"internal_domain":"throbbing-shape-2622.admin.datocms.com","last_data_change_at":null,"notes":null,"readwrite_token":"96d8aa84f7ec2b3841897602e20c90cc1549660f8a307ec644","readonly_token":"d7a0a689a29da1c0eb82fc8f4bb73eeebd21b845e3376cd301","webhook_token":"09f58c438c4706c7d1a9"}}}'
  recorded_at: Fri, 15 Jul 2016 10:47:00 GMT
- request:
    method: post
    uri: http://site-api.lvh.me:3001/item-types
    body:
      encoding: UTF-8
      string: '{"data":{"type":"item_type","attributes":{"api_key":"article","name":"Article","singleton":false,"sortable":false}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 96d8aa84f7ec2b3841897602e20c90cc1549660f8a307ec644
  response:
    status:
      code: 201
      message: 'Created '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"53f8892aa70a8c08c353009c4b39b332"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"1019","type":"item_type","attributes":{"name":"Article","singleton":false,"sortable":false,"api_key":"article"},"relationships":{"fields":{"data":[]},"singleton_item":{"data":null}}}}'
  recorded_at: Fri, 15 Jul 2016 10:47:00 GMT
- request:
    method: post
    uri: http://site-api.lvh.me:3001/item-types/1019/fields
    body:
      encoding: UTF-8
      string: '{"data":{"type":"field","attributes":{"api_key":"title","appeareance":{"type":"title"},"field_type":"string","hint":"","label":"Title","localized":false,"position":99,"validators":{"required":{}}}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 96d8aa84f7ec2b3841897602e20c90cc1549660f8a307ec644
  response:
    status:
      code: 201
      message: 'Created '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a00fe4b1893d4e0710d8da3be23e1e13"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"4052","type":"field","attributes":{"label":"Title","field_type":"string","api_key":"title","hint":null,"localized":false,"validators":{"required":{}},"position":1,"appeareance":{"type":"title"}},"relationships":{"item_type":{"data":{"id":"1019","type":"item_type"}}}}}'
  recorded_at: Fri, 15 Jul 2016 10:47:00 GMT
- request:
    method: post
    uri: http://site-api.lvh.me:3001/items
    body:
      encoding: UTF-8
      string: '{"data":{"type":"item","attributes":{"title":"First post"},"relationships":{"item_type":{"data":{"type":"item_type","id":"1019"}}}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 96d8aa84f7ec2b3841897602e20c90cc1549660f8a307ec644
  response:
    status:
      code: 201
      message: 'Created '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"be821dc939d41aacee76cb254d6061c5"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"8934","type":"item","attributes":{"updated_at":"2016-07-15T10:47:00.581Z","is_valid":true,"title":"First
        post"},"relationships":{"item_type":{"data":{"id":"1019","type":"item_type"}}}},"included":[{"id":"1019","type":"item_type","attributes":{"name":"Article","singleton":false,"sortable":false,"api_key":"article"},"relationships":{"fields":{"data":[{"id":"4052","type":"field"}]},"singleton_item":{"data":null}}}]}'
  recorded_at: Fri, 15 Jul 2016 10:47:00 GMT
- request:
    method: get
    uri: http://site-api.lvh.me:3001/items?filter%5Btype%5D=1019
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 96d8aa84f7ec2b3841897602e20c90cc1549660f8a307ec644
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fed5f40031cc5fabaf862c9e5033c1bf"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"8934","type":"item","attributes":{"updated_at":"2016-07-15T10:47:00.581Z","is_valid":true,"title":"First
        post"},"relationships":{"item_type":{"data":{"id":"1019","type":"item_type"}}}}],"meta":{"total_count":1}}'
  recorded_at: Fri, 15 Jul 2016 10:47:00 GMT
- request:
    method: put
    uri: http://site-api.lvh.me:3001/items/8934
    body:
      encoding: UTF-8
      string: '{"data":{"id":"8934","type":"item","attributes":{"title":"Welcome!"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 96d8aa84f7ec2b3841897602e20c90cc1549660f8a307ec644
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"30de6b496362d021c8353a9dd7140782"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"8934","type":"item","attributes":{"updated_at":"2016-07-15T10:47:00.637Z","is_valid":true,"title":"Welcome!"},"relationships":{"item_type":{"data":{"id":"1019","type":"item_type"}}}}}'
  recorded_at: Fri, 15 Jul 2016 10:47:00 GMT
[...]
- request:
    method: delete
    uri: http://account-api.lvh.me:3001/sites/205
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer dfbf65d331869796024da2e4bc70802e19712d8d5a3f619b38
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"30a52d989741d13c2e2df543c8951271"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"205","type":"site","attributes":{"name":"Test site","theme_hue":224,"domain":null,"internal_domain":"throbbing-shape-2622.admin.datocms.com","last_data_change_at":"2016-07-15T10:47:00.677Z","notes":null,"readwrite_token":"96d8aa84f7ec2b3841897602e20c90cc1549660f8a307ec644","readonly_token":"d7a0a689a29da1c0eb82fc8f4bb73eeebd21b845e3376cd301","webhook_token":"09f58c438c4706c7d1a9"}}}'
  recorded_at: Fri, 15 Jul 2016 10:47:00 GMT
recorded_with: VCR 3.0.3
