---
http_interactions:
- request:
    method: get
    uri: https://account-api.datocms.com/docs/account-api-hyperschema.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 08 Feb 2021 11:57:02 GMT
      Content-Type:
      - application/json
      X-Queue-Time:
      - 2ms
    body:
      encoding: UTF-8
      string: |-
        {
          "$schema": "http://interagent.github.io/interagent-hyper-schema",
          "title": "DatoCMS Account API",
          "description": "",
          "type": "object",
          "id": "dato-api",
          "links": [
            {
              "href": "https://account-api.datocms.com",
              "rel": "self"
            }
          ],
          "properties": {
            "session": {
              "$ref": "#/definitions/session"
            },
            "account": {
              "$ref": "#/definitions/account"
            },
            "site": {
              "$ref": "#/definitions/site"
            },
            "site_subscription": {
              "$ref": "#/definitions/site_subscription"
            },
            "account_subscription": {
              "$ref": "#/definitions/account_subscription"
            },
            "site_plan": {
              "$ref": "#/definitions/site_plan"
            },
            "account_plan": {
              "$ref": "#/definitions/account_plan"
            },
            "per_site_pricing_billing_profile": {
              "$ref": "#/definitions/per_site_pricing_billing_profile"
            },
            "per_account_pricing_billing_profile": {
              "$ref": "#/definitions/per_account_pricing_billing_profile"
            },
            "invoice": {
              "$ref": "#/definitions/invoice"
            },
            "resource_usage": {
              "$ref": "#/definitions/resource_usage"
            },
            "job_result": {
              "$ref": "#/definitions/job_result"
            },
            "site_transfer": {
              "$ref": "#/definitions/site_transfer"
            },
            "site_invitation": {
              "$ref": "#/definitions/site_invitation"
            },
            "subscription_limit": {
              "$ref": "#/definitions/subscription_limit"
            },
            "subscription_feature": {
              "$ref": "#/definitions/subscription_feature"
            },
            "job": {
              "$ref": "#/definitions/job"
            },
            "oauth_application": {
              "$ref": "#/definitions/oauth_application"
            }
          },
          "definitions": {
            "session": {
              "links": [
                {
                  "method": "POST",
                  "rel": "create",
                  "title": "Create a new session",
                  "description": "",
                  "href": "/sessions",
                  "schema": {
                    "type": "object",
                    "required": [
                      "data"
                    ],
                    "additionalProperties": false,
                    "properties": {
                      "data": {
                        "anyOf": [
                          {
                            "type": "object",
                            "required": [
                              "type",
                              "attributes"
                            ],
                            "additionalProperties": false,
                            "properties": {
                              "type": {
                                "type": [
                                  "string"
                                ],
                                "description": "JSON API type field",
                                "pattern": "^email_credentials$",
                                "example": "email_credentials"
                              },
                              "attributes": {
                                "description": "JSON API attributes",
                                "type": "object",
                                "required": [
                                  "email",
                                  "password"
                                ],
                                "additionalProperties": false,
                                "properties": {
                                  "email": {
                                    "type": "string",
                                    "description": "Email",
                                    "example": "foo@bar.com"
                                  },
                                  "password": {
                                    "type": "string",
                                    "description": "Password",
                                    "example": "changeme"
                                  },
                                  "otp_code": {
                                    "type": "string",
                                    "description": "Two-factor authentication one-time password",
                                    "example": "123512"
                                  }
                                }
                              }
                            }
                          },
                          {
                            "type": "object",
                            "required": [
            [...]
- request:
    method: post
    uri: https://account-api.datocms.com/account
    body:
      encoding: UTF-8
      string: '{"data":{"type":"account","attributes":{"email":"DIGBKSUL@delete-this-at-midnight-utc.tk","company":"DatoCMS","password":"veryst_9rong_passowrd4_"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer
      X-Api-Version:
      - '3'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      Etag:
      - W/"fdce95850ed8fe394137073e567bfb90"
      X-Queue-Time:
      - 3ms
    body:
      encoding: ASCII-8BIT
      base64_string: |
        eyJkYXRhIjp7ImlkIjoiZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKMklqb3hM
        Q0pwSWpvek1UazFOaXdpWnlJNklqSXdNakV0TURJdE1EaFVNVEk2TlRVNk1E
        Y3VNVGcwS3pBd09qQXdJbjAuS3hrWVNudWNBTjFaV1ZBLXEyMXJDOUZkbUVH
        MmpMM1FzcFJBdE0tMEhBZyIsInR5cGUiOiJzZXNzaW9uIiwicmVsYXRpb25z
        aGlwcyI6eyJhY2NvdW50Ijp7ImRhdGEiOnsiaWQiOiIzMTk1NiIsInR5cGUi
        OiJhY2NvdW50In19fX0sImluY2x1ZGVkIjpbeyJpZCI6IjMxOTU2IiwidHlw
        ZSI6ImFjY291bnQiLCJhdHRyaWJ1dGVzIjp7ImVtYWlsIjoiRElHQktTVUxA
        ZGVsZXRlLXRoaXMtYXQtbWlkbmlnaHQtdXRjLnRrIiwiZmlyc3RfbmFtZSI6
        bnVsbCwibGFzdF9uYW1lIjpudWxsLCJjb21wYW55IjoiRGF0b0NNUyIsInBy
        b3Zpc2lvbmluZ18yZmFfdXJpIjoib3RwYXV0aDovL3RvdHAvRGF0b0NNUzpE
        SUdCS1NVTEBkZWxldGUtdGhpcy1hdC1taWRuaWdodC11dGMudGs/c2VjcmV0
        PUQ2UldHQldKNklLVzJQRkZJTFc3QTJZWkFCNktWSUtCJmlzc3Vlcj1EYXRv
        Q01TIiwiaXNfMmZhX2FjdGl2ZSI6ZmFsc2V9LCJyZWxhdGlvbnNoaXBzIjp7
        ImFjdGl2ZV9zdWJzY3JpcHRpb24iOnsiZGF0YSI6eyJpZCI6Ijc4MTEiLCJ0
        eXBlIjoiYWNjb3VudF9zdWJzY3JpcHRpb24ifX0sImJpbGxpbmdfcHJvZmls
        ZSI6eyJkYXRhIjpudWxsfX19XX0=
  recorded_at: Mon, 08 Feb 2021 12:55:07 GMT
[...]
- request:
    method: post
    uri: https://account-api.datocms.com/sites
    body:
      encoding: UTF-8
      string: '{"data":{"type":"site","attributes":{"name":"Test site"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJ2IjoxLCJpIjozMTk1NiwiZyI6IjIwMjEtMDItMDhUMTI6NTU6MDcuMTg0KzAwOjAwIn0.KxkYSnucAN1ZWVA-q21rC9FdmEG2jL3QspRAtM-0HAg
      X-Api-Version:
      - '3'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
    [...]
- request:
    method: get
    uri: https://site-api.datocms.com/docs/site-api-hyperschema.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 08 Feb 2021 11:56:59 GMT
      X-Queue-Time:
      - 5ms
    body:
      encoding: ASCII-8BIT
      base64_string: |
        ewogICIkc2NoZW1hIjogImh0dHA6Ly9pbnRlcmFnZW50LmdpdGh1Yi5pby9p
   [...]
