---
http_interactions:
- request:
    method: get
    uri: https://account-api.datocms.com/docs/account-api-hyperschema.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 12 May 2021 07:26:11 GMT
      Content-Type:
      - application/json
      X-Queue-Time:
      - 2ms
    body:
      encoding: UTF-8
      string: |-
        {
          "$schema": "http://interagent.github.io/interagent-hyper-schema",
          "title": "DatoCMS Account API",
          "description": "",
          "type": "object",
          "id": "dato-api",
          "links": [
            {
              "href": "https://account-api.datocms.com",
              "rel": "self"
            }
          ],
          "properties": {
            "session": {
              "$ref": "#/definitions/session"
            },
            "account": {
              "$ref": "#/definitions/account"
            },
            "site": {
              "$ref": "#/definitions/site"
            },
            "site_subscription": {
              "$ref": "#/definitions/site_subscription"
            },
            "account_subscription": {
              "$ref": "#/definitions/account_subscription"
            },
            "site_plan": {
              "$ref": "#/definitions/site_plan"
            },
            "account_plan": {
              "$ref": "#/definitions/account_plan"
            },
            "per_site_pricing_billing_profile": {
              "$ref": "#/definitions/per_site_pricing_billing_profile"
            },
            "per_account_pricing_billing_profile": {
              "$ref": "#/definitions/per_account_pricing_billing_profile"
            },
            "invoice": {
              "$ref": "#/definitions/invoice"
            },
            "resource_usage": {
              "$ref": "#/definitions/resource_usage"
            },
            "job_result": {
              "$ref": "#/definitions/job_result"
            },
            "site_transfer": {
              "$ref": "#/definitions/site_transfer"
            },
            "site_invitation": {
              "$ref": "#/definitions/site_invitation"
            },
            "subscription_limit": {
              "$ref": "#/definitions/subscription_limit"
            },
            "subscription_feature": {
              "$ref": "#/definitions/subscription_feature"
            },
            "job": {
              "$ref": "#/definitions/job"
            },
            "oauth_application": {
              "$ref": "#/definitions/oauth_application"
            }
          },
          "definitions": {
            "session": {
              "links": [
                {
                  "method": "POST",
                  "rel": "create",
                  "title": "Create a new session",
                  "description": "",
                  "href": "/sessions",
                  "schema": {
                    "type": "object",
                    "required": [
                      "data"
                    ],
                    "additionalProperties": false,
                    "properties": {
                      "data": {
                        "anyOf": [
                          {
                            "type": "object",
                            "required": [
                              "type",
                              "attributes"
                            ],
                            "additionalProperties": false,
                            "properties": {
                              "type": {
                                "type": [
                                  "string"
                                ],
                                "description": "JSON API type field",
                                "pattern": "^email_credentials$",
                                "example": "email_credentials"
                              },
                              "attributes": {
                                "description": "JSON API attributes",
                                "type": "object",
                                "required": [
                                  "email",
                                  "password"
                                ],
                                "additionalProperties": false,
                                "properties": {
                                  "email": {
                                    "type": "string",
                                    "description": "Email",
                                    "example": "foo@bar.com"
                                  },
                                  "password": {
                                    "type": "string",
                                    "description": "Password",
                                    "example": "changeme"
                                  },
                                  "otp_code": {
                                    "type": "string",
                                    "description": "Two-factor authentication one-time password",
                                    "example": "123512"
                                  }
                                }
                              }
                            }
                          },
                          {
                            "type": "object",
                            "required": [
            [...]
- request:
    method: post
    uri: https://account-api.datocms.com/account
    body:
      encoding: UTF-8
      string: '{"data":{"type":"account","attributes":{"email":"CLRAXDLE@delete-this-at-midnight-utc.tk","company":"DatoCMS","password":"veryst_9rong_passowrd4_"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer
      X-Api-Version:
      - '3'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      Etag:
      - W/"48f84973286547a956e172cbc2d315f7"
      X-Queue-Time:
      - 2ms
    body:
      encoding: ASCII-8BIT
      base64_string: |
        eyJkYXRhIjp7ImlkIjoiZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKMklqb3hM
        Q0pwSWpvek5qZzJOeXdpWnlJNklqSXdNakV0TURVdE1USlVNRGs2TkRrNk16
        VXVNVFF6S3pBd09qQXdJbjAuSXN2YVphVmZPZE93RGI3Y2dzU1VYT21jUlQ2
        MjFoWHVUZkFQbGhYNDBWQSIsInR5cGUiOiJzZXNzaW9uIiwicmVsYXRpb25z
        aGlwcyI6eyJhY2NvdW50Ijp7ImRhdGEiOnsiaWQiOiIzNjg2NyIsInR5cGUi
        OiJhY2NvdW50In19fX0sImluY2x1ZGVkIjpbeyJpZCI6IjM2ODY3IiwidHlw
        ZSI6ImFjY291bnQiLCJhdHRyaWJ1dGVzIjp7ImVtYWlsIjoiQ0xSQVhETEVA
        ZGVsZXRlLXRoaXMtYXQtbWlkbmlnaHQtdXRjLnRrIiwiZmlyc3RfbmFtZSI6
        bnVsbCwibGFzdF9uYW1lIjpudWxsLCJjb21wYW55IjoiRGF0b0NNUyIsInBy
        b3Zpc2lvbmluZ18yZmFfdXJpIjoib3RwYXV0aDovL3RvdHAvRGF0b0NNUzpD
        TFJBWERMRSU0MGRlbGV0ZS10aGlzLWF0LW1pZG5pZ2h0LXV0Yy50az9zZWNy
        ZXQ9QVlCTEI3MlJUVlhDVFdJSVZZVUlZT1dDQlBPWEU0TzcmaXNzdWVyPURh
        dG9DTVMiLCJpc18yZmFfYWN0aXZlIjpmYWxzZX0sInJlbGF0aW9uc2hpcHMi
        OnsiYWN0aXZlX3N1YnNjcmlwdGlvbiI6eyJkYXRhIjp7ImlkIjoiMTI5Mjki
        LCJ0eXBlIjoiYWNjb3VudF9zdWJzY3JpcHRpb24ifX0sImJpbGxpbmdfcHJv
        ZmlsZSI6eyJkYXRhIjpudWxsfX19XX0=
  recorded_at: Wed, 12 May 2021 09:49:35 GMT
[...]
- request:
    method: post
    uri: https://account-api.datocms.com/sites
    body:
      encoding: UTF-8
      string: '{"data":{"type":"site","attributes":{"name":"Test site"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJ2IjoxLCJpIjozNjg2NywiZyI6IjIwMjEtMDUtMTJUMDk6NDk6MzUuMTQzKzAwOjAwIn0.IsvaZaVfOdOwDb7cgsSUXOmcRT621hXuTfAPlhX40VA
      X-Api-Version:
      - '3'
      X-Foo:
      - Bar
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      Etag:
      - W/"2a019cebbd20f23383c34af8c8b52b29"
      X-Queue-Time:
      - 1ms
    body:
      encoding: ASCII-8BIT
      base64_string: |
        eyJkYXRhIjp7ImlkIjoiNDgwNjIiLCJ0eXBlIjoic2l0ZSIsImF0dHJpYnV0
        ZXMiOnsibmFtZSI6IlRlc3Qgc2l0ZSIsImRvbWFpbiI6b[...]
- request:
    method: get
    uri: https://site-api.datocms.com/docs/site-api-hyperschema.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 12 May 2021 07:26:07 GMT
      X-Queue-Time:
      - 2ms
    body:
      encoding: ASCII-8BIT
      base64_string: |
        ewogICIkc2NoZW1hIjogImh0dHA6Ly9pbnRlcmFnZW50LmdpdGh1Yi5pby9p
   [...]
