---
http_interactions:
- request:
    method: get
    uri: http://site-api.lvh.me:3001/docs/site-api-hyperschema.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 18 Nov 2019 12:09:28 GMT
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "$schema": "http://interagent.github.io/interagent-hyper-schema",
          "title": "DatoCMS Site API",
          "description": "",
          "type": "object",
          "id": "dato-api",
          "links": [
            {
              "href": "https://site-api.datocms.com",
              "rel": "self"
            }
          ],
          "properties": {
            "session": {
              "$ref": "#/definitions/session"
            },
            "account": {
              "$ref": "#/definitions/account"
            },
            "user": {
              "$ref": "#/definitions/user"
            },
            "access_token": {
              "$ref": "#/definitions/access_token"
            },
            "plugin": {
              "$ref": "#/definitions/plugin"
            },
            "site": {
              "$ref": "#/definitions/site"
            },
            "menu_item": {
              "$ref": "#/definitions/menu_item"
            },
            "job_result": {
              "$ref": "#/definitions/job_result"
            },
            "plan": {
              "$ref": "#/definitions/plan"
            },
            "subscription_compatibility": {
              "$ref": "#/definitions/subscription_compatibility"
            },
            "deploy_event": {
              "$ref": "#/definitions/deploy_event"
            },
            "item_type": {
              "$ref": "#/definitions/item_type"
            },
            "field": {
              "$ref": "#/definitions/field"
            },
            "item": {
              "$ref": "#/definitions/item"
            },
            "item_version": {
              "$ref": "#/definitions/item_version"
            },
            "upload": {
              "$ref": "#/definitions/upload"
            },
            "upload_request": {
              "$ref": "#/definitions/upload_request"
            },
            "scheduled_publication": {
              "$ref": "#/definitions/scheduled_publication"
            },
            "search_result": {
              "$ref": "#/definitions/search_result"
            },
            "role": {
              "$ref": "#/definitions/role"
            },
            "webhook": {
              "$ref": "#/definitions/webhook"
            },
            "webhook_call": {
              "$ref": "#/definitions/webhook_call"
            },
            "deployment_environment": {
              "$ref": "#/definitions/deployment_environment"
            },
            "item_type_filter": {
              "$ref": "#/definitions/item_type_filter"
            },
            "upload_filter": {
              "$ref": "#/definitions/upload_filter"
            },
            "site_invitation": {
              "$ref": "#/definitions/site_invitation"
            },
            "editing_session": {
              "$ref": "#/definitions/editing_session"
            },
            "sso_user": {
              "$ref": "#/definitions/sso_user"
            },
            "sso_group": {
              "$ref": "#/definitions/sso_group"
            },
            "sso_settings": {
              "$ref": "#/definitions/sso_settings"
            },
            "upload_tag": {
              "$ref": "#/definitions/upload_tag"
            },
            "upload_smart_tag": {
              "$ref": "#/definitions/upload_smart_tag"
            }
          },
          "definitions": {
            "upload_request": {
              "position": 8,
              "links": [
                {
                  "method": "POST",
                  "rel": "create",
                  "title": "Request a new upload",
                  "description": "",
                  "href": "/upload-requests",
                  "schema": {
                    "type": "object",
                    "required": [
                      "data"
                    ],
                    "additionalProperties": false,
                    "properties": {
                      "data": {
                        "type": "object",
                        "required": [
                          "type",
                          "attributes"
                        ],
                        "additionalProperties": false,
                        "properties": {
                          "type": {
                            "$ref": "#/definitions/upload_request/properties/type"
                          },
                          "attributes": {
                            "type": "object",
                            "description": "JSON API attributes",
                            "properties": {
                              "filename": {
                                "type": "string",
                                "description": "The original file name",
                                "example": "image.png"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "targetSchema": {
                    "type": "object",
                    "required": [
                      "data"
                    ],
                    "additionalProperties": false,
                    "properties": {
                      "data": {
                        "$ref": "#/definitions/upload_request"
                      }
                    }
                  }
                }
              ],
              "$schema": "http://json-schema.org/draft-04/hyper-schema",
              "title": "Upload permission",
              "description": "To upload a file in DatoCMS, first you need to obtain an upload permission through this API endpoint. The response will contain the S3 URL where you will be able to upload the file with a direct PUT request.",
              "type": "object",
              "required": [
                "type",
                "id",
                "attributes"
              ],
              "additionalProperties": false,
              "definitions": {
                "identity": {
                  "$ref": "#/definitions/upload_request/definitions/id"
                },
                "type": {
                  "type": [
                    "string"
                  ],
                  "description": "JSON API type field",
                  "pattern": "^upload_request$",
                  "example": "upload_request"
                },
                "id": {
                  "type": "string",
                  "description": "The S3 path where the file will be stored",
                  "example": "/7/1455102967-image.png"
                },
                "attributes": {
                  "type": "object",
                  "description": "JSON API attributes",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "The URL to use to upload the file with a direct PUT request",
                      "example": "https://dato-images.s3-eu-west-1.amazonaws.com/7/1455102967-image.png?X-Amz-Credential=AKIAJDTXTZHHDUCKAUMA%2F20160210"
                    }
                  }
                }
              },
              "properties": {
                "type": {
                  "$ref": "#/definitions/upload_request/definitions/type"
                },
                "id": {
                  "$ref": "#/definitions/upload_request/definitions/id"
                },
                "attributes": {
                  "$ref": "#/definitions/upload_request/definitions/attributes"
                }
              }
            },
            "item": {
              "position": 2,
              "links": [
                {
                  "method": "POST",
                  "rel": "validate_existing",
                  "private": true,
                  "title": "Validates an existing record field",
                  "description": "",
                  "href": "/items/{(%2Fschemata%2Fitem%23%2Fdefinitions%2Fitem%2Fdefinitions%2Fidentity)}/validate",
                  "schema": {
                    "type": "object",
                    "required": [
                      "data"
                    ],
                    "additionalProperties": false,
                    "properties": {
                      "data": {
                        "type": "object",
                        "required": [
                          "id",
                          "type",
                          "attributes",
                          "relationships"
                        ],
                        "additionalProperties": false,
                        "properties": {
                          "id": {
                            "$ref": "#/definitions/item/properties/id"
                          },
                          "type": {
                            "$ref": "#/definitions/item/definitions/type"
                          },
                          "attributes": {
                            "$ref": "#/definitions/item/definitions/attributes"
                          },
                          "meta": {
                            "type": "object"
                          },
                          "relationships": {
                            "type": "object",
                            "required": [
                              "item_type"
                            ],
                            "additionalProperties": false,
                            "properties": {
                              "item_type": {
                                "type": "object",
                                "required": [
                                  "data"
                                ],
                                "additionalProperties": false,
                                "properties": {
                                  "data": {
                                    "$ref": "#/definitions/item_type/definitions/data"
                                  }
                                }
                              },
                              "creator": {
                                "type": "object",
                                "required": [
                                  "data"
                                ],
                                "additionalProperties": false,
                                "properties": {
                                  "data": {
                                    "anyOf": [
                                      {
                                        "$ref": "#/definitions/account/definitions/data"
                                      },
                                      {
                                        "$ref": "#/definitions/access_token/definitions/data"
                                      },
                                      {
                                        "$ref": "#/definitions/user/definitions/data"
                                      }
                                    ]
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "targetSchema": {
                    "type": "object",
                    "required": [
                      "data",
                      "included"
                    ],
                    "additionalProperties": false,
                    "properties": {
                      "data": {
                        "$ref": "#/definitions/item"
                      },
                      "included": {
                        "type": "array",
                        "items": {
                          "$ref": "#/definitions/item_type"
                        }
                      }
                    }
                  }
                },
                {
                  "method": "POST",
                  "rel": "validate_new",
                  "private": true,
                  "title": "Validates a record field",
                  "description": "",
                  "href": "/items/validate",
                  "schema": {
                    "type": "[...]
- request:
    method: get
    uri: http://account-api.lvh.me:3001/docs/account-api-hyperschema.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 18 Nov 2019 12:09:28 GMT
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "$schema": "http://interagent.github.io/interagent-hyper-schema",
          "title": "DatoCMS Account API",
          "description": "",
          "type": "object",
          "id": "dato-api",
          "links": [
            {
              "href": "https://account-api.datocms.com",
              "rel": "self"
            }
          ],
          "properties": {
            "session": {
              "$ref": "#/definitions/session"
            },
            "account": {
              "$ref": "#/definitions/account"
            },
            "site": {
              "$ref": "#/definitions/site"
            },
            "subscription": {
              "$ref": "#/definitions/subscription"
            },
            "plan": {
              "$ref": "#/definitions/plan"
            },
            "job_result": {
              "$ref": "#/definitions/job_result"
            },
            "site_transfer": {
              "$ref": "#/definitions/site_transfer"
            },
            "site_invitation": {
              "$ref": "#/definitions/site_invitation"
            },
            "subscription_compatibility": {
              "$ref": "#/definitions/subscription_compatibility"
            },
            "job": {
              "$ref": "#/definitions/job"
            },
            "oauth_application": {
              "$ref": "#/definitions/oauth_application"
            }
          },
          "definitions": {
            "session": {
              "links": [
                {
                  "method": "POST",
                  "rel": "create",
                  "title": "Create a new session",
                  "description": "",
                  "href": "/sessions",
                  "schema": {
                    "type": "object",
                    "required": [
                   [...]
- request:
    method: get
    uri: https://site-api.datocms.com/docs/site-api-hyperschema.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 18 Nov 2019 11:13:24 GMT
      X-Queue-Time:
      - 3ms
    body:
      encoding: ASCII-8BIT
      base64_string: |
        ewogICIkc2NoZW1hIjogImh0dHA6Ly9pbnRlcmFnZW50LmdpdGh1Yi5pby9p
        bnRlcmFnZW50LWh5cGVyLXNjaGVtYSIsCiAgInRpdGxlIjogIkRhdG9DTVMg
        U2l0ZSBBUEkiLAogICJkZXNjcmlwdGlvbiI6ICIiLAogICJ0eXBlIjogIm9i
        amVjdCIsCiAgImlkIjogImRhdG8tYXBpIiwKICAibGlua3MiOiBbCiAgICB7
        CiAgICAgICJocmVmIjogImh0dHBzOi8vc2l0ZS1hcGkuZGF0b2Ntcy5jb20i
        LAogICAgICAicmVsIjogInNlbGYiCiAgICB9CiAgXSwKICAicHJvcGVydGll
        cyI6IHsKICAgICJzZXNzaW9uIjogewogICAgICAiJHJlZiI6ICIjL2RlZmlu
        aXRpb2[...]
