---
http_interactions:
- request:
    method: post
    uri: http://account-api.lvh.me:3001/sites
    body:
      encoding: UTF-8
      string: '{"data":{"type":"site","attributes":{"name":"Test site"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer dfbf65d331869796024da2e4bc70802e19712d8d5a3f619b38
  response:
    status:
      code: 201
      message: 'Created '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cc9db0bcb005756f22a5eca41e119f96"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"206","type":"site","attributes":{"name":"Test site","theme_hue":224,"domain":null,"internal_domain":"broken-butterfly-9719.admin.datocms.com","last_data_change_at":null,"notes":null,"readwrite_token":"d7b060c51958657e9d98045834f70ab81a9136ddff809a2c59","readonly_token":"af195352637ba14f620dad20ae4c6c7178872be9be61b4b083","webhook_token":"aa1b8481d34a19c47a34"}}}'
  recorded_at: Fri, 15 Jul 2016 10:47:00 GMT
- request:
    method: post
    uri: http://site-api.lvh.me:3001/users
    body:
      encoding: UTF-8
      string: '{"data":{"type":"user","attributes":{"email":"foo@bar.it","first_name":"Foo","last_name":"Bar"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer d7b060c51958657e9d98045834f70ab81a9136ddff809a2c59
  response:
    status:
      code: 201
      message: 'Created '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"08fc509b73e7122bbeabebf6d4f8d9df"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"201","type":"user","attributes":{"first_name":"Foo","last_name":"Bar","email":"foo@bar.it","state":"INVITATION_PENDING","is_admin":false}}}'
  recorded_at: Fri, 15 Jul 2016 10:47:00 GMT
[...]
- request:
    method: put
    uri: http://site-api.lvh.me:3001/users/201
    body:
      encoding: UTF-8
      string: '{"data":{"id":"201","type":"user","attributes":{"is_admin":true}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer d7b060c51958657e9d98045834f70ab81a9136ddff809a2c59
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"357a3c31d1df5952f668c136c6c849b8"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"201","type":"user","attributes":{"first_name":"Foo","last_name":"Bar","email":"foo@bar.it","state":"INVITATION_PENDING","is_admin":true}}}'
  recorded_at: Fri, 15 Jul 2016 10:47:00 GMT
[...]
- request:
    method: delete
    uri: http://account-api.lvh.me:3001/sites/206
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer dfbf65d331869796024da2e4bc70802e19712d8d5a3f619b38
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cc9db0bcb005756f22a5eca41e119f96"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"206","type":"site","attributes":{"name":"Test site","theme_hue":224,"domain":null,"internal_domain":"broken-butterfly-9719.admin.datocms.com","last_data_change_at":null,"notes":null,"readwrite_token":"d7b060c51958657e9d98045834f70ab81a9136ddff809a2c59","readonly_token":"af195352637ba14f620dad20ae4c6c7178872be9be61b4b083","webhook_token":"aa1b8481d34a19c47a34"}}}'
  recorded_at: Fri, 15 Jul 2016 10:47:00 GMT
recorded_with: VCR 3.0.3
