---
http_interactions:
- request:
    method: post
    uri: http://account-api.lvh.me:3001/sites
    body:
      encoding: UTF-8
      string: '{"data":{"type":"site","attributes":{"name":"Test site"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer dfbf65d331869796024da2e4bc70802e19712d8d5a3f619b38
  response:
    status:
      code: 201
      message: 'Created '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7d37c79894e2c52f4d54e2d026a4bfd7"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"203","type":"site","attributes":{"name":"Test site","theme_hue":224,"domain":null,"internal_domain":"white-shadow-3988.admin.datocms.com","last_data_change_at":null,"notes":null,"readwrite_token":"68abc22fc788d5ee988c3ed6047a6c02694eb6ac9e1489cc3c","readonly_token":"e3b485ad6fa2b92fa718924eff8929b828757da6589bc1aef9","webhook_token":"c2761bd0e2ea65af3817"}}}'
  recorded_at: Fri, 15 Jul 2016 10:47:00 GMT
- request:
    method: post
    uri: http://site-api.lvh.me:3001/item-types
    body:
      encoding: UTF-8
      string: '{"data":{"type":"item_type","attributes":{"api_key":"article","name":"Article","singleton":false,"sortable":false}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 68abc22fc788d5ee988c3ed6047a6c02694eb6ac9e1489cc3c
  response:
    status:
      code: 201
      message: 'Created '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f93d3277a5f8b4ac3c309f7587b559c9"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"1017","type":"item_type","attributes":{"name":"Article","singleton":false,"sortable":false,"api_key":"article"},"relationships":{"fields":{"data":[]},"singleton_item":{"data":null}}}}'
  recorded_at: Fri, 15 Jul 2016 10:47:00 GMT
[...]
- request:
    method: put
    uri: http://site-api.lvh.me:3001/item-types/1017
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1017","type":"item_type","attributes":{"api_key":"post","name":"Post","singleton":false,"sortable":false}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 68abc22fc788d5ee988c3ed6047a6c02694eb6ac9e1489cc3c
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"03a65cb1797e31f8e3061c6b3daea7c2"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"1017","type":"item_type","attributes":{"name":"Post","singleton":false,"sortable":false,"api_key":"post"},"relationships":{"fields":{"data":[]},"singleton_item":{"data":null}}}}'
  recorded_at: Fri, 15 Jul 2016 10:47:00 GMT
[...]
- request:
    method: delete
    uri: http://account-api.lvh.me:3001/sites/203
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer dfbf65d331869796024da2e4bc70802e19712d8d5a3f619b38
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8eca71e3e673bccad538d60081899263"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"203","type":"site","attributes":{"name":"Test site","theme_hue":224,"domain":null,"internal_domain":"white-shadow-3988.admin.datocms.com","last_data_change_at":"2016-07-15T10:47:00.166Z","notes":null,"readwrite_token":"68abc22fc788d5ee988c3ed6047a6c02694eb6ac9e1489cc3c","readonly_token":"e3b485ad6fa2b92fa718924eff8929b828757da6589bc1aef9","webhook_token":"c2761bd0e2ea65af3817"}}}'
  recorded_at: Fri, 15 Jul 2016 10:47:00 GMT
recorded_with: VCR 3.0.3
