---
http_interactions:
- request:
    method: post
    uri: http://account-api.lvh.me:3001/sites
    body:
      encoding: UTF-8
      string: '{"data":{"type":"site","attributes":{"name":"Test site"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer dfbf65d331869796024da2e4bc70802e19712d8d5a3f619b38
  response:
    status:
      code: 201
      message: 'Created '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2d84ed7435a007cd7c6cf4c909518ed0"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"202","type":"site","attributes":{"name":"Test site","theme_hue":224,"domain":null,"internal_domain":"icy-lake-7632.admin.datocms.com","last_data_change_at":null,"notes":null,"readwrite_token":"a0f4b799a2e9b0b196770075f6adf5c9c9c2ff27ab9a19e5b7","readonly_token":"81b80e0d678ed132150925f01f6c0bad9b996ee2c55614d6b6","webhook_token":"4a2d586b9032f815a010"}}}'
  recorded_at: Fri, 15 Jul 2016 10:46:59 GMT
- request:
    method: post
    uri: http://site-api.lvh.me:3001/menu-items
    body:
      encoding: UTF-8
      string: '{"data":{"type":"menu_item","attributes":{"label":"Parent","position":99},"relationships":{"item_type":{"data":null}}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer a0f4b799a2e9b0b196770075f6adf5c9c9c2ff27ab9a19e5b7
  response:
    status:
      code: 201
      message: 'Created '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"12354c16bfda29555c6cf0a72f440987"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"1236","type":"menu_item","attributes":{"label":"Parent","position":1},"relationships":{"item_type":{"data":null},"parent":{"data":null},"children":{"data":[]}}}}'
  recorded_at: Fri, 15 Jul 2016 10:46:59 GMT
- request:
    method: post
    uri: http://site-api.lvh.me:3001/item-types
    body:
      encoding: UTF-8
      string: '{"data":{"type":"item_type","attributes":{"api_key":"article","name":"Article","singleton":false,"sortable":false}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer a0f4b799a2e9b0b196770075f6adf5c9c9c2ff27ab9a19e5b7
  response:
    status:
      code: 201
      message: 'Created '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7c2d57853c6d3e02af798bea3bef6c96"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"1016","type":"item_type","attributes":{"name":"Article","singleton":false,"sortable":false,"api_key":"article"},"relationships":{"fields":{"data":[]},"singleton_item":{"data":null}}}}'
  recorded_at: Fri, 15 Jul 2016 10:46:59 GMT
[...]
- request:
    method: put
    uri: http://site-api.lvh.me:3001/menu-items/1238
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1238","type":"menu_item","attributes":{"label":"Manage
        articles","position":1},"relationships":{"item_type":{"data":{"type":"item_type","id":"1016"}},"parent":{"data":{"type":"menu_item","id":"1236"}}}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer a0f4b799a2e9b0b196770075f6adf5c9c9c2ff27ab9a19e5b7
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"503293a0df80aab1ab30c48ad6c174a6"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"1238","type":"menu_item","attributes":{"label":"Manage
        articles","position":1},"relationships":{"item_type":{"data":{"id":"1016","type":"item_type"}},"parent":{"data":{"id":"1236","type":"menu_item"}},"children":{"data":[]}}}}'
  recorded_at: Fri, 15 Jul 2016 10:46:59 GMT
[...]
- request:
    method: delete
    uri: http://account-api.lvh.me:3001/sites/202
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer dfbf65d331869796024da2e4bc70802e19712d8d5a3f619b38
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a05cd7bd369548b66bba4096e0d484a4"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"202","type":"site","attributes":{"name":"Test site","theme_hue":224,"domain":null,"internal_domain":"icy-lake-7632.admin.datocms.com","last_data_change_at":null,"notes":null,"readwrite_token":"a0f4b799a2e9b0b196770075f6adf5c9c9c2ff27ab9a19e5b7","readonly_token":"81b80e0d678ed132150925f01f6c0bad9b996ee2c55614d6b6","webhook_token":"4a2d586b9032f815a010"}}}'
  recorded_at: Fri, 15 Jul 2016 10:47:00 GMT
recorded_with: VCR 3.0.3
