---
http_interactions:
- request:
    method: post
    uri: http://account-api.lvh.me:3001/sites
    body:
      encoding: UTF-8
      string: '{"data":{"type":"site","attributes":{"name":"Foobar"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer dfbf65d331869796024da2e4bc70802e19712d8d5a3f619b38
  response:
    status:
      code: 201
      message: 'Created '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c7039cffa57001630cd7b230646bc000"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"200","type":"site","attributes":{"name":"Foobar","theme_hue":224,"domain":null,"internal_domain":"young-wave-7682.admin.datocms.com","last_data_change_at":null,"notes":null,"readwrite_token":"d9f3ed5e29716553948f1ffc3c7ee2b3eaa07742fec119d42e","readonly_token":"888f170f944542c8514fdad30da6d409211abed27e0db59c72","webhook_token":"74f319e83254b4a02b0b"}}}'
  recorded_at: Fri, 15 Jul 2016 10:46:59 GMT
- request:
    method: put
    uri: http://account-api.lvh.me:3001/sites/200
    body:
      encoding: UTF-8
      string: '{"data":{"id":"200","type":"site","attributes":{"domain":null,"name":"Blog","notes":null}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer dfbf65d331869796024da2e4bc70802e19712d8d5a3f619b38
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d5cab0157911678e9d32d865d6c77732"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"200","type":"site","attributes":{"name":"Blog","theme_hue":224,"domain":null,"internal_domain":"young-wave-7682.admin.datocms.com","last_data_change_at":null,"notes":null,"readwrite_token":"d9f3ed5e29716553948f1ffc3c7ee2b3eaa07742fec119d42e","readonly_token":"888f170f944542c8514fdad30da6d409211abed27e0db59c72","webhook_token":"74f319e83254b4a02b0b"}}}'
  recorded_at: Fri, 15 Jul 2016 10:46:59 GMT
[...]
- request:
    method: get
    uri: http://account-api.lvh.me:3001/sites
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer dfbf65d331869796024da2e4bc70802e19712d8d5a3f619b38
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"add4e0755dbff2ec01dd878dc23fc6bb"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[]}'
  recorded_at: Fri, 15 Jul 2016 10:46:59 GMT
recorded_with: VCR 3.0.3
