---
http_interactions:
- request:
    method: post
    uri: http://account-api.lvh.me:3001/sites
    body:
      encoding: UTF-8
      string: '{"data":{"type":"site","attributes":{"name":"Test site"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer dfbf65d331869796024da2e4bc70802e19712d8d5a3f619b38
  response:
    status:
      code: 201
      message: 'Created '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"64f5cdb870aa99fa8b6cf34cc15d151f"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"204","type":"site","attributes":{"name":"Test site","theme_hue":224,"domain":null,"internal_domain":"cold-bush-3102.admin.datocms.com","last_data_change_at":null,"notes":null,"readwrite_token":"8e1edac18edd3f88d8f251b7ee6ea358a4d16d946c1b3e83f1","readonly_token":"257d54c4b2e67cd816b99a7e592a34cd7e72ec9fe9d42a5477","webhook_token":"c0a23690b5243e686a48"}}}'
  recorded_at: Fri, 15 Jul 2016 10:47:00 GMT
- request:
    method: post
    uri: http://site-api.lvh.me:3001/item-types
    body:
      encoding: UTF-8
      string: '{"data":{"type":"item_type","attributes":{"api_key":"article","name":"Article","singleton":false,"sortable":false}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 8e1edac18edd3f88d8f251b7ee6ea358a4d16d946c1b3e83f1
  response:
    status:
      code: 201
      message: 'Created '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"475971eddaee371d7fde6c4af89b910e"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"1018","type":"item_type","attributes":{"name":"Article","singleton":false,"sortable":false,"api_key":"article"},"relationships":{"fields":{"data":[]},"singleton_item":{"data":null}}}}'
  recorded_at: Fri, 15 Jul 2016 10:47:00 GMT
- request:
    method: post
    uri: http://site-api.lvh.me:3001/item-types/1018/fields
    body:
      encoding: UTF-8
      string: '{"data":{"type":"field","attributes":{"api_key":"title","appeareance":{"type":"title"},"field_type":"string","hint":"","label":"Title","localized":false,"position":99,"validators":{"required":{}}}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 8e1edac18edd3f88d8f251b7ee6ea358a4d16d946c1b3e83f1
  response:
    status:
      code: 201
      message: 'Created '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"927fbe4d99ef55431ac33e728bf820bb"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"4051","type":"field","attributes":{"label":"Title","field_type":"string","api_key":"title","hint":null,"localized":false,"validators":{"required":{}},"position":1,"appeareance":{"type":"title"}},"relationships":{"item_type":{"data":{"id":"1018","type":"item_type"}}}}}'
  recorded_at: Fri, 15 Jul 2016 10:47:00 GMT
[...]
- request:
    method: put
    uri: http://site-api.lvh.me:3001/fields/4051
    body:
      encoding: UTF-8
      string: '{"data":{"id":"4051","type":"field","attributes":{"api_key":"title","appeareance":{"type":"title"},"hint":null,"label":"Article
        title","localized":false,"position":1,"validators":{"required":{}}}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 8e1edac18edd3f88d8f251b7ee6ea358a4d16d946c1b3e83f1
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bba30e2f62ec1551df2e60ac7456203e"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"4051","type":"field","attributes":{"label":"Article
        title","field_type":"string","api_key":"title","hint":null,"localized":false,"validators":{"required":{}},"position":1,"appeareance":{"type":"title"}},"relationships":{"item_type":{"data":{"id":"1018","type":"item_type"}}}}}'
  recorded_at: Fri, 15 Jul 2016 10:47:00 GMT
[...]
- request:
    method: delete
    uri: http://account-api.lvh.me:3001/sites/204
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer dfbf65d331869796024da2e4bc70802e19712d8d5a3f619b38
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f4b80757b003d54cff6be450eca502f0"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"204","type":"site","attributes":{"name":"Test site","theme_hue":224,"domain":null,"internal_domain":"cold-bush-3102.admin.datocms.com","last_data_change_at":"2016-07-15T10:47:00.392Z","notes":null,"readwrite_token":"8e1edac18edd3f88d8f251b7ee6ea358a4d16d946c1b3e83f1","readonly_token":"257d54c4b2e67cd816b99a7e592a34cd7e72ec9fe9d42a5477","webhook_token":"c0a23690b5243e686a48"}}}'
  recorded_at: Fri, 15 Jul 2016 10:47:00 GMT
recorded_with: VCR 3.0.3
