---
http_interactions:
- request:
    method: post
    uri: http://account-api.lvh.me:3001/sites
    body:
      encoding: UTF-8
      string: '{"data":{"type":"site","attributes":{"name":"Test site"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer dfbf65d331869796024da2e4bc70802e19712d8d5a3f619b38
  response:
    status:
      code: 201
      message: 'Created '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c48b670784ada10587e9242cd3bff29f"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"201","type":"site","attributes":{"name":"Test site","theme_hue":224,"domain":null,"internal_domain":"green-fire-4581.admin.datocms.com","last_data_change_at":null,"notes":null,"readwrite_token":"2cf2209d929aa6d5321b74bfacddf47d72c2b9988e2eaa6a2d","readonly_token":"678f15085d20fc42ad8874743119298596b4bf3c14282bcfae","webhook_token":"6d1b0d1d5db4c3240f9a"}}}'
  recorded_at: Fri, 15 Jul 2016 10:46:59 GMT
- request:
    method: get
    uri: http://site-api.lvh.me:3001/item-types/44
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 2cf2209d929aa6d5321b74bfacddf47d72c2b9988e2eaa6a2d
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"NOT_FOUND","type":"api_error","attributes":{"details":{}}}]}'
  recorded_at: Fri, 15 Jul 2016 10:46:59 GMT
- request:
    method: delete
    uri: http://account-api.lvh.me:3001/sites/201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer dfbf65d331869796024da2e4bc70802e19712d8d5a3f619b38
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c48b670784ada10587e9242cd3bff29f"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"201","type":"site","attributes":{"name":"Test site","theme_hue":224,"domain":null,"internal_domain":"green-fire-4581.admin.datocms.com","last_data_change_at":null,"notes":null,"readwrite_token":"2cf2209d929aa6d5321b74bfacddf47d72c2b9988e2eaa6a2d","readonly_token":"678f15085d20fc42ad8874743119298596b4bf3c14282bcfae","webhook_token":"6d1b0d1d5db4c3240f9a"}}}'
  recorded_at: Fri, 15 Jul 2016 10:46:59 GMT
recorded_with: VCR 3.0.3
